<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Create New Proposal</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-4">New Proposal</h1>
        <form action="/articles" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control" value="<%= article.title %>" required>
            </div>
            <div class="form-group">
                <label for="describtion">Describtion</label>
                <textarea name="description" id="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="markdown">Markdown</label>
                <textarea name="markdown" id="markdown" class="form-control" required></textarea>
            </div>

            <a href="/student" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>
</body>

</html>