<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Project Fair</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to Management Page 🎉</h1>
        <h2 class="mb-4">Project List</h2>

        <% articles.forEach(article => { %>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"><%= article.title %></h4>
                <span>Pending</span> <br>
                <span>Lakshman Gope - </span>
                <span>173-35-2256</span>
                <div class="card-subtitle text-muted mb-2">
                    <%= article.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2"><%= article.markdown %></div>
                <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
            </div>
        </div>

        <% }) %>
    </div>
</body>

</html>