<!-- Footer -->
<footer class="page-footer font-small purple pt-4 fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; <%= new Date().getFullYear() %> Develop With ❤ By
        <a href="https://github.com/lgope" target="blank"> Lakshman</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->